@charset "utf-8";
*{padding: 0px; margin: 0px; box-sizing: border-box; font-family: Roboto,'sans-serif';}

.background img {
margin-top: 349px;
width: 1903px;
height: 1000px;
}

.logo-png img {
position: absolute;
top: 10%;
left: 34%; 
width: 600px;
height: 475px;
}
  
.about p{
margin-top: 582px;
text-align: center;
font-size: 26px;
font-family: 'Courier New', Courier, monospace;
}
  
  
.btn {
font-size: 26px;
position: absolute;
width: 255px;
height: 60px;
left: 42.5%;
top: 70%;
font-family: 'Courier New', Courier, monospace;
  
background: #D9D9D9;
border-radius: 40px;
cursor: pointer;
transition: .4s all ease;
}
  
.btn:hover {
transform: scale(1.1);
font-size: 25px;
}



/* form */

.registr {
position: absolute;
top: 110%;
left: 19%;

font-size: 40px;
}
.input-text {
position: absolute;
top: 110%;
left:73%;

font-size: 40px;
}
.vertical-line {  
position: absolute;
top: 113%;
left: 50%;

border-left: 1.5px solid black;
height: 780px;
}

.decor {
position: absolute;
top: 120%;
left: 11%;
border-radius: 30px;

}
.form-inner input {
display: block;
width: 530px;
height: 65px;
padding: 0 20px;
margin-bottom: 35px;
background: #E9EFF6;
line-height: 40px;
border-width: 0;
border-radius: 20px;
font-family: 'Roboto', sans-serif;
font-size: 18px;
transition: .4s all ease;
}
.form-inner input[type="submit"] {
margin-top: 30px;
background: #FFF9F1;
color: black;
font-size: 20px;
font-family: 'Roboto', sans-serif;
cursor: pointer;
}

.decor-two {
position: absolute;
top: 127%;
left: 61%;
border-radius: 30px;
}
.form-inner-two input {
display: block;
width: 530px;
height: 65px;
padding: 0 20px;
margin-bottom: 35px;
background: #E9EFF6;
line-height: 40px;
border-width: 0;
border-radius: 20px;
font-family: 'Roboto', sans-serif;
font-size: 18px;
transition: .4s all ease;
  }
.form-inner-two input[type="submit"] {
margin-top: 30px;
background: #FFF9F1;
color: black;
font-size: 20px;
font-family: 'Roboto', sans-serif;
cursor: pointer;
}

.form-inner input:hover {
transform: scale(1.1);
font-size: 25px;
}

.form-inner-two input:hover {
transform: scale(1.1);
font-size: 25px;
}

.footer {
position: absolute;
top: 204%;

width: 1903px;
height: 200px;

background-color: black;
} 

.footer p {
position: absolute;
top: 40%;
left: 36%;

color: white;
font-size: 30px;
}



